%div#pic
	%div#profile_pic
		-if @user.profilepic?
			= image_tag @user.profilepic_url(:profile_pic)
		-else
			= image_tag "no-profile-pic.jpg" , :style => "height:331px;width:250px;"

%div#information
	%div#shoutout.info
		%b
			Shoutout: &nbsp;
		=@user.shoutout
	%div#name.info
		%h3
			=@user.first_name
			=@user.last_name
	%div#pb-site.info
		%b
			Peekbox site: &nbsp;
		= "http://#{request.host+request.fullpath}"
	%div#sex.info
		%b
			Sex:&nbsp;
		=@user.sex
	%div#location.info
		%b
			location:&nbsp;
		=@user.location
	%div#website.info
		%b
			website:&nbsp;
		=@user.website
	%div#date-joined.info
		%b
			Date joined:&nbsp;
		=@user.created_at
%br{:style=>"clear:both"}
%div#control-panel
	- unless current_user == @user
		%div{:style=>"float:left"}
			-unless !current_user.is_stranger(@user)
				=link_to "Add Friend", add_profile_friends_path(@user)
		%div
			&nbsp;
			=link_to "View Friends", other_user_friends_path(@user.username)
		%div
			=link_to "Send Message"
	- else
		%div
			=link_to "View Friends", other_user_friends_path(@user.username)
%br{:style=>"clear:both"}
%div#videos_list
	-unless @videos.empty?
		%h3
			VIDEOS
		-@videos.each do |vid|
			%div#video_each
				%p#thumb
					%div.thumbnail-wrapper
						=link_to (image_tag vid.thumbnails.first.url, :class => "thumbnails" ,:alt => "#{vid.category.title.to_s}_#{vid.title.to_s}"), video_path(vid.id)
						%div.video-item-title-wrapper
							%p.video-item-title
								=vid.title
		%br{:style=>"clear:both"}
		%div.view-all-link
			%p
				=link_to "View All", videos_path
%br{:style=>"clear:both"}
%div#albums_list
	-unless @albums.empty?
		%h3
			ALBUMS
		%div#album_each
			-@albums.each do |album|
				%div#each
					%div#album_cover.thumbnail-wrapper
						=link_to (image_tag album.image_url(:album_thumb).to_s), album_pictures_path(album) 
						%div#album_title.item-title-wrapper
							%p.item-title
								=album.title	
		%br{:style=>"clear:both"}
		%div.view-all-link
			%p
				=link_to "View All", albums_path 
%br{:style=>"clear:both"}
%div#events_list
	-unless @events.empty?
		%h3
			EVENTS
		%div#each
			-@events.each do |event|
				%div#each
					%div#event_thumb.thumbnail-wrapper
						=link_to (image_tag event.image_url(:thumb).to_s), event_path(event) 
						%div#event_title.item-title-wrapper
							%p.item-title
								=event.title	
		%br{:style=>"clear:both"}
		%div.view-all-link
			%p
				=link_to "View All", events_path
%br{:style=>"clear:both"}
