-@pictures.each do |pic|
	%div#page-info
		%span#title
			=pic.title
		%span#desc
	%br{:style => "clear:both"}
	%div#picture-page
		-if pic.image?
			%div#picture-page-image
				= image_tag pic.image_url(:picture_page).to_s
				%div#sharethis{:style => "float:left;text-align:right;margin:0 auto;"}
					%span.st_facebook_hcount{:displayText => "Facebook"}
					%span.st_twitter_hcount{:displayText => "Tweet"}
					%span.st_googleplus_hcount{:displayText => "google plus"}
					%span.st_sharethis_hcount{:displayText => "shareThis"}
				%br{:style => "clear:both"}
				-unless current_user == nil
					-if current_user.is_picture_bookmarked(pic)
						= button_to "My Peek", :controller => "profile/picture_bookmark", :method => "post", :picture => pic.id
					-else
						= button_to "unPeek me", :controller => "profile/picture_bookmark", :action => "unbookmark",  :id => pic.id
				%div{:style => "float:right"}
					%p{:style => "margin:0px 5px 0px 5px"}
						Peeks:
						-if pic.picture_bookmarks == nil
							= "0"
						-else
							= pic.picture_bookmarks.count
		%p
			%p
				Description:
			%p
				=pic.description
=paginate @pictures
