=form_for @ads,:url => admin_ads_path, :html => {:multipart => true} do |ad|
	%label{:for => "name"} Name:
	= ad.text_field :name
	%label{:for => "url"} Url:
	= ad.text_field :url
	%label{:for => "banner"} Banner Image:
	= ad.file_field :banner
	%label{:for => "location"} location:
	= ad.text_field :location
	= submit_tag "Add Video"
