%h1
	Pictures in "#{@album.title}" Album
-if @pictures.empty?
	%p 
		No Picture Available
-else
	-@pictures.each do |pic|
		%p
			=pic.title
		%p
			=pic.description
		%p
			=link_to (image_tag pic.image_url(:picture_thumb).to_s), album_pictures_path(pic.id)

= form_for :picture, :url => profile_album_pictures_path(@album.id), :html => {:multipart => true} do |picture_form| 
	%label{:for => "title"} Title:
	%br
	=picture_form.text_field :title
	%br
	%label{:for => "Description"} Description:
	%br
	= picture_form.text_area :description
	%br
	%label{:for => "image"} File:
	%br
	= picture_form.file_field :image
	%br
	= submit_tag "Upload Picture"
