%h1
	Pictures in "#{@album.title}" Album
-unless current_user== nil
	-if current_user.admin
		%div
			=link_to "Edit #{@album.title}", edit_profile_album_path(@album.id)
-if @pictures.empty?
	%p 
		No Picture Available
-else
	-@pictures.each do |pic|
		%div#each
			%div.thumbnail-wrapper
				=link_to (image_tag pic.image_url(:picture_thumb).to_s), album_pictures_path(pic.id)
				%div#album_title.item-title-wrapper
					%p.item-title
						=pic.title	
%br{:style => "clear:both"}

= form_for :picture, :url => profile_album_pictures_path(@album.id), :html => {:multipart => true} do |picture_form| 
	%label{:for => "title"} Title:
	%br
	=picture_form.text_field :title
	%br
	%label{:for => "Description"} Description:
	%br
	= picture_form.text_area :description
	%br
	%label{:for => "image"} File:
	%br
	= picture_form.file_field :image
	%br
	= submit_tag "Upload Picture"
