%ul.link
	%li.item
		= link_to 'Ads' , admin_ads_path
		%ul.link
			%li.item
				= link_to 'Add Ads' , new_admin_ad_path
	%li.item
		= link_to 'Banner' , profile_albums_path
		%ul.link
			%li.item
				= link_to 'Add Banner' , new_profile_album_path
	%li.item
		= link_to 'Events' , profile_events_path
		%ul.link
			%li.item
				= link_to 'Add Event' , new_profile_event_path
	%li.item
		= link_to 'Albums' , profile_events_path
		%ul.link
			%li.item
				= link_to 'Add Albums' , new_profile_event_path
	%li.item
		= link_to 'Upload Token' 
		%ul.link
			%li.item
				= link_to '' 
