%ul.link
	%li.item
		= link_to 'Home', root_path 
	%li.item
		= link_to 'Video', videos_path
	%li.item
		= link_to 'Gallery', albums_path
	%li.item
		= link_to 'Events', events_path
	%li.item
		= link_to 'Help', help_path 
	%li.item
		= link_to 'Company', company_path
