%ul.link
	%li.item
		= link_to 'Home', root_path 
	%li.item
		= link_to 'Video'
	%li.item
		= link_to 'Gallery'
	%li.item
		= link_to 'Events'
	%li.item
		= link_to 'Help', help_path 
	%li.item
		= link_to 'Company', company_path
