%ul.link
	%li.item
		= link_to 'Videos' , profile_videos_path
		%ul.link
			%li.item
				= link_to 'Add Video' , new_profile_video_path
	%li.item
		= link_to 'Albums' , profile_albums_path
		%ul.link
			%li.item
				= link_to 'Add Album' , new_profile_album_path
	%li.item
		= link_to 'Events' , profile_events_path
		%ul.link
			%li.item
				= link_to 'Add Event' , new_profile_event_path
	%li.item
		= link_to 'Friends' 
		%ul.link
			%li.item
				= link_to 'Add Friend' 
	%li.item
		= link_to 'Messages' 
		%ul.link
			%li.item
				= link_to 'Create Message' 
			%li.item
				= link_to 'Inbox' 
			%li.item
				= link_to 'Sent' 
	%li.item
		= link_to 'Shout Out' 

%br{:style=>"clear:both"}
