!!!
%head
	%title 
		Peekbox
	= stylesheet_link_tag "application"
	= javascript_include_tag "application"
	= csrf_meta_tags
%body
	/ main content - start
	= yield
	/ main content - end
	= render :partial => "layouts/footer"
