!!! 5
%head
	%title 
		Peekbox
	= stylesheet_link_tag "application"
	= javascript_include_tag "application"
	= csrf_meta_tags
%body
	%div#wrapper
		%div#header
			%div#wrapper
				%div#sign_status
					-if user_signed_in?
						%p
							Welcome 
							= link_to current_user.username , profile_path
							|	
							= link_to 'Sign out', destroy_user_session_path, :method => :delete
					-else
						= link_to 'Sign in', new_user_session_path
						or
						= link_to 'Register', new_user_registration_path
		%div#menu_wide
			%div#menu
				#links-container
					= render :partial => "layouts/menu"
				#search-container
					= render :partial => "layouts/search"
		#container_wide
			#container
				%div#flash
					%span.notice
						= notice
					%span.alert
						= alert
				/ main content - start
				= yield
				/ main content - end
		= render :partial => "layouts/twitter"
		= render :partial => "layouts/footer"
		= render :partial => "layouts/bottom"
